.card-deck { 

    padding-top: 30px; 
    text-align: center;
}


.error {

background-color: #fff0f0;

}

body {

margin-top: 55px;
background-color: rgb(144, 144, 144);

}

.card-head{

    color: rgb(8, 8, 106);
    font-weight:500;

}

.card-body{

    color: rgb(8, 8, 106);
    font-weight:500;

}

.card-footer{

    color: rgb(8, 8, 106);
    font-weight: 400;

}

.title{

    padding-top: 20px;
    color: rgb(8, 8, 106);
    font-weight: 500;
    font-size: xx-large;

}
