<body>
    <div class="main-title">AP2 Project</div>
    <hr>
    <hr class="rounded">
    <div class="container">
    </div>
    <div class="title">
        Social Media and Mental Health
    </div>
    <ng-container>
    <div class="paragraph">
        Hi   <ul *ngIf="authService.user$ | async as user">{{user.name}} </ul>, Welcome to this project, the purpose of thisis to make use of social media in order to develop a deeper understanding on mental health, done so in a variety of ways
        <ul *ngIf="authService.user$ | async as user">
        <li>Your account email: {{user.email}}</li>
      </ul>
    </div>
    </ng-container>
      <div class="dash_title">
        Dashboard
      </div>
      <br>
      <br>
      <div class="dashboard">
        <div class="card" routerLink='/analysis'>
          <div class="card-title">Analysis</div>
          <div class="card-icon"><i class="fa fa-chart-bar"></i></div>
        </div>
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
        <div class="card" routerLink='/sentimentanalysis'>
          <div class="card-title">Sentiment Analysis</div>
          <div class="card-icon"><i class="fa fa-smile"></i></div>
        </div>
        </ng-container>
        <div class="card" routerLink='/self-assess'>
          <div class="card-title">Self Assessment</div>
          <div class="card-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="card" routerLink='/discussion'>
            <div class="card-title">Discussion Forum</div>
            <div class="card-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="card" routerLink='/visualisation'>
          <div class="card-title">Visualisation</div>
          <div class="card-icon"><i class="fa fa-user"></i></div>
      </div>
      </div>
      <br>
      <div class="card1">
        <div class="card-title">Number of Active Discussions : {{count}}</div>
      </div>
      <br>
      <div class="card2">
      <div class="card-title">Number of Self Assessments Made : {{assesscount}}</div>
      </div>
      <br>
      <ng-template #loggedOut>
    </ng-template>
</body>
